.maindiv{
    justify-content: center;
    display: flex;
    border-color: black;
    border-width: 2px;
}
.myCard{
    width: 600px;
    background-color: honeydew;
}

.card-title{   
    font-size: 35px;
    font-weight: bold;
}
.contentDiv{  
    display: flex;
    gap: 50px;
}
.card-title{
    justify-content: center;
    display: flex;
}
.btns{
    gap:40px;
    justify-content: center;
    display: flex;   
}
.btns button{
    width: 100px;
}