.mainDiv:hover{
 
    background-color: rgb(179, 202, 208);
}
button{
    width: 100px;  
}
 .card {
 
     margin-top: 10px;  
} 
.card-title{
    
    font-size: 30px;
    font-weight: bold;
}
.contentDiv{  
    display: flex;
    gap: 50px;
}
.card-title{
    justify-content: center;
    display: flex;
}
.btns{
    gap:40px;
    justify-content: center;
    display: flex;
}

