.myDiv:hover{
    background-color: grey;
}
button{
    width: 100px;  
}
.card-title{   
    font-size: 35px;
    font-weight: bold;
}
.contentDiv{  
    display: flex;
    gap: 50px;
}
.card-title{
    justify-content: center;
    display: flex;
}
.btns{
    gap:40px;
    justify-content: center;
    display: flex;   
}
.btns button{
    width: 100px;
}